<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Plato</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium voluptatum voluptates nemo facilis, quod sed perspiciatis, est laboriosam, nihil blanditiis molestias dicta. Quaerat totam consectetur animi, illum sit beatae.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lugarres</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus delectus ipsa et id sapiente non omnis ea veritatis esse vero in maxime saepe optio ipsam, atque dicta velit dolore?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>