<div class="row">
    <div class="col-12 col-md-5 text-whiter">
        <form>
            <div class="row">
                <div class="col-6">
                    <label class="form-label">Entrada</label>
                    <input type="date" class="form-control" id="app-formularioreservas">
                </div>
                <div class="col-6">
                    <label class="form-label">Salida</label>
                    <input type="date" class="form-control" id="app-formularioreservas">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label">Cliente</label>
                    <input type="text" class="form-control" id="idCliente">
                </div>
                <div class="col-6">
                    <label class="form-label">Identificacion</label>
                    <input type="text" class="form-control" id="Identificacion">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Reserva</button>
              </div>
        </form>
    </div>
  
</div>
